root = true

[*]
end_of_line = lf
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

[{go.mod,go.sum,*.go}]
indent_size = 4
indent_style = tab
max_line_length = 110

[{*.yml,*.yaml}]
indent_size = 2
indent_style = space
