---
# yamllint disable rule:line-length
# yaml-language-server: $schema=https://raw.githubusercontent.com/oapi-codegen/oapi-codegen/HEAD/configuration-schema.json
# yamllint enable
package: petstore
output: client.gen.go
input: https://raw.githubusercontent.com/swagger-api/swagger-petstore/refs/tags/swagger-petstore-v3-1.0.26/src/main/resources/openapi.yaml
generate:
  models: true
  client: true
output-options:
  # To make test coverage better, we only include the endpoints we want to test!
  include-operation-ids: [addPet, deletePet, createUser, findPetsByTags]
  # overlay:
  #   path: overlay.yml
